
<div *ngIf="state$.value.loading" class="text-center"><span><fa-icon [icon]="loadingIcon" [pulse]="true"></fa-icon></span>Loading...</div>
<div class="d-flex justify-content-center align-content-center">
    <ngx-charts-bar-vertical
    (window:resize)="onResize($event)"
    [results]="topTenEffected"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [view]="view"
    >
    </ngx-charts-bar-vertical>
</div>


